# Ignore build/
build/
output/
data/

# Ignore .DS_Store
.DS_Store

# Ignore .vscode/
.vscode/*
!.vscode/settings.json

# Ignore nocommit-* files and dirs
nocommit-*

# Ignore Python scripts
*.py

# Miscellaneous
ca.key
*.tipa
*.zip
*.ipa
*.app
Payload/